{% extends "hub/main.html" %}

{% block body %}
<strong>THIS IS THE HUB</strong>
<hr>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="upload">
</form>

<table>
    <thead>
        <tr>Title</tr>
        <tr>Author</tr>
        <tr>Link To Page</tr>
    </thead>
    {% for page in pages %}
        <tr>
            <td>{{page.title}}</td>
            <td>{{page.author}}</td>
            <td><a href="{{page.file.url}}">link</a></td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
